wp-content/uploads
wp-content/uploads/
wp-content/upgrade/
wp-config.php
wp-content/themes/glamourModas/_material/functions.php
wp-content/uploads/ast-block-templates-json/ast-block-templates-blocks-6.json
